
    <div class="row" id="challenge-menu">
        <div class="col-md-7">
            <button class="btn btn-primary btn-xs" type="button" ng-click="getTerminal()"
                    ng-disabled="! showAddTerminalButton">
                <i class="glyphicon glyphicon-plus"></i>
                Add Terminal
            </button>
            <button ng-if="isAdmin" class="btn btn-primary btn-xs" type="button" ng-click="stopContainer()">
                Stop Container
            </button>
        </div>

        <div class="col-md-1">
            <spinner name="booksSpinner" img-src="components/spinner.gif"></spinner>
        </div>

        <div class="col-md-4">
            <div class="text-right">
                ASLR:
                <i ng-if="container.ContainerHost.Aslr" class="glyphicon glyphicon-ok"></i>
                <i ng-if="! container.ContainerHost.Aslr" class="glyphicon glyphicon-remove"></i>
                Arch: {{challenge.ContainerArch}}

                <button uib-popover-template="'myPopoverTemplate.html'" ng-click="showContainerInfo()"
                        type="button" class="btn btn-primary btn-xs" popover-placement="bottom-right">
                    Info
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" class="terminal">
            <div id="console" class=""></div>
        </div>
        <div class="col-md-12" id="terminal">
            <button class="btn btn-primary btn-xs" type="button" ng-click="incSize(terminal)">
                <i class="glyphicon glyphicon-plus-sign"></i>
            </button>
            <button class="btn btn-primary btn-xs" type="button" ng-click="decSize(terminal)">
                <i class="glyphicon glyphicon-minus-sign"></i>
            </button>
            <button class="btn btn-primary btn-xs" type="button" ng-click="reload(terminal)">
                <i class="glyphicon glyphicon-refresh"></i>
            </button>
        </div>
    </div>

