Basecontainer:
<div class="row" ng-repeat="baseContainer in baseContainers">
  <div class="col-md-2">Base Container Name: </div>
  <div class="col-md-10">{{baseContainer.Name}}</div>
</div>


<p></p>

<table class="table table-condensed">
	<thead>
	  <th>containerBasename</th>
	  <th>containerName</th>
	  <th>expiry</th>
	  <th>username</th>
    <th>password</th>
		<th>status</th>
		<th>Action</th>
  </thead>

	<tr ng-repeat="container in containers">
	  <td>{{container.ContainerBaseName}} </td>
	  <td>{{container.ContainerName}}</td>
		<td>{{container.ContainerExpiry }}</td>
		<td>{{container.ContainerUsername}}</td>
		<td>{{container.ContainerPassword}}</td>
		<td>{{container.ContainerStatus}}</td>
		<td><a ng-click="startVirtualmachine()">Start VM</a> </td>
	</tr>
</table>
