/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  /*margin-bottom: 1em;*/
  padding: 0 0 3px;
  background-color: #f1f1f1;
  margin: 0px;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


#challenge-menu {
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #bdbdbd;
  padding-right: 0px;
}

#challenge-right {
  padding-left: 2px;
}

.horizontal-line {
  border: 1px solid white;
}


body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
}

@media (min-width: 768px){
  #left {
    position: absolute;
    top: 20px;
    bottom: 10px;
    width: 50%;
    overflow-y: scroll;
    padding-left: 0px;
  }

  #right {
    position: absolute;
    top: 20px;
    bottom: 10px;
    right: 0;
    overflow-y: scroll;
    width: 50%;
    border-left: 1px solid #bdbdbd;
  }
}

#left {
  height:97%;
}

#right {
  height:97%;
}
