<table class="table">
	<thead>
		<th>ID</th>
		<th>Chapter</th>
		<th>Title</th>
		<th>Description</th>
		<th>Arch</th>
		<th>Bits</th>
		<th>ASLR</th>
	</thead>
	<tr ng-repeat="challenge in challenges">
		<td>
			{{challenge.Id}}
		</td>
		<td>
			{{challenge.Chapter}}
		</td>
		<td>
			<a ng-href="#/challenge/{{challenge.Id}}">
				{{challenge.Title}}
			</a>
		</td>
		<td>
			{{challenge.Description}}
		</td>
		<td>
			{{challenge.ContainerHost.Arch}}
		</td>
		<td>
			{{challenge.BaseContainer.Bits}}
		</td>
		<td>
			<i ng-if="challenge.ContainerHost.Aslr == '1'" class="glyphicon glyphicon-ok"></i>
      <i ng-if="challenge.ContainerHost.Aslr == '0'" class="glyphicon glyphicon-remove"></i>
		</td>
	</tr>
</table>
