<table class="table table-condensed">
	<thead>
		<th>ID</th>
		<th>Title</th>
		<th>Arch</th>
		<th>Bits</th>
		<th>ASLR</th>
	</thead>
	<tr ng-repeat="challenge in challenges">
		<td>
			{{challenge.Id}}
		</td>
		<td>
			<a ng-href="#/challenge/{{challenge.Id}}">
				{{challenge.Title}}
			</a>
		</td>
		<td>
				
		</td>
		<td>
			{{challenge.ContainerArch}}
		</td>
		<td>
			<i ng-if="challenge.ContainerAslr == '1'" class="glyphicon glyphicon-ok"></i>
      <i ng-if="challenge.ContainerAslr == '0'" class="glyphicon glyphicon-remove"></i>
		</td>
	</tr>
</table>
