<script type="text/ng-template" id="myPopoverTemplate.html">

    <div ng-show="containerInfo.isStarted">
        <div>{{dynamicPopover.content}}</div>
        <div class="form-group">
            <label>Host: </label> container.exploit.courses
        </div>
        <div class="form-group">
            <label>Port: </label> {{containerInfo.sshPort}}
        </div>
        <div class="form-group">
            <label>CMD: </label> ssh -l root -p {{containerInfo.sshPort}} container.exploit.courses
        </div>
        <div class="form-group">
            <label>Expires: </label> {{containerInfo.expiry * 1000 | date:'yyyy-MM-dd HH:mm:ss' }}
        </div>
        <div class="form-group">
            <label> Hard Epiry Date: </label> {{containerInfo.expiryHard * 1000 | date:'yyyy-MM-dd HH:mm:ss' }}
        </div>
    </div>

    <div ng-show="! containerInfo.isStarted">
        Container is not yet started.
    </div>

    <hr>

    <div class="form-group">
        <label>Container:</label> {{challenge.ContainerBaseName}}
    </div>

    <div class="form-group">
        <label>ASLR:</label>
        <i ng-if="challenge.ContainerHost.Aslr" class="glyphicon glyphicon-ok"></i>
        <i ng-if="! challenge.ContainerHost.Aslr" class="glyphicon glyphicon-remove"></i>
    </div>

    <div class="form-group">
        <label>Architecture: </label> {{challenge.ContainerHost.Arch}}
    </div>
</script>


<div class="container-fluid">
    <div class="row">

        <div class="col-md-6" id="left">
            <div class="row" id="challenge-menu">
                <div class="col-md-9">
                    <button class="btn btn-primary btn-xs" type="button" ng-click="getTerminal()"
                            ng-disabled="! showAddTerminalButton">
                        <i class="glyphicon glyphicon-plus"></i>
                        Add Terminal
                    </button>
                    <button class="btn btn-primary btn-xs" type="button" ng-click="restartContainer()">
                        Restart Container
                    </button>
                    | Challenge {{challenge.Id}}
                </div>

                <div class="col-md-1">
                    <spinner name="booksSpinner" img-src="components/spinner.gif"></spinner>
                </div>

                <div class="col-md-2">
                    <button uib-popover-template="'myPopoverTemplate.html'" ng-click="showContainerInfo()"
                            type="button" class="btn btn-primary btn-xs" popover-placement="bottom-right">
                        Container Info
                    </button>
                </div>
            </div>

            <div class="row" ng-repeat="terminal in terminals">
                <div class="col-md-12">
                    <div id="{{'console' + terminal.id}}"></div>
                </div>
                <div class="col-md-12" id="terminal" ng-show="terminal.show">
                    <button class="btn btn-primary btn-xs" type="button" ng-click="incSize(terminal)">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                    </button>
                    <button class="btn btn-primary btn-xs" type="button" ng-click="decSize(terminal)">
                        <i class="glyphicon glyphicon-minus-sign"></i>
                    </button>
                    <button class="btn btn-primary btn-xs" type="button" ng-click="reload(terminal)">
                        <i class="glyphicon glyphicon-refresh"></i>
                    </button>
                </div>
            </div>

        </div>


        <div class="col-md-6" id="right">
            <div class="row" id="challenge-right">
                <div class="col-md-12">
                    <div mymarkdown ng-bind-html="challenge.inputHtml" class="preview"></div>
                </div>
            </div>
        </div>
    </div>
</div>
