<div class="ng-row">
  <div class="row">
    <div class="col-md-2">Firewall: </div>
    <div class="col-md-10">
      <button class="btn btn-xs btn-primary" type="button" ng-click="adminCmd('allowfw')">Allow</button>
      <button class="btn btn-xs btn-primary" type="button" ng-click="adminCmd('blockfw')">Block</button>
    </div>

    <div class="col-md-2">Checkout Challenge data</div>
    <div class="col-md-10">
      <button class="btn btn-xs btn-primary" type="button" ng-click="adminCmd('checkout')">Checkout</button>
    </div>
  </div>

  <div class="col-md-12">
    <table class="table">
      <tr ng-repeat="feedback in feedbacks">
        <td> {{feedback.host}}</td>
        <td> {{feedback.stdout}} </td>
        <td> {{feedback.stderr}}</td>
      </tr>
    </table>
  </div>

  <button class="btn btn-xs btn-primary" type="button" ng-click="getLogs()">Get Logs</button>
  <div class="col-md-12">
    <table class="table">
      <tr ng-repeat="log in logs">
        <td> {{log.UserId}}</td>
        <td> {{log.UserIp}}</td>
        <td> {{log.Date}}</td>
        <td> {{log.Message}}</td>
      </tr>
    </table>

  </div>
</div>
